$icomoon-font-family: "AppIconFont" !default;
$icomoon-font-path: "fonts" !default;

$aif-arrow-double-bold-left: "\e900";
$aif-arrow-double-bold-right: "\e913";
$aif-arrow-double-bold-up: "\e914";
$aif-arrow-double-bold-down: "\e915";
$aif-arrow-double-left: "\e901";
$aif-arrow-double-right: "\e916";
$aif-arrow-double-up: "\e917";
$aif-arrow-double-down: "\e918";
$aif-brain: "\e902";
$aif-camera: "\e903";
$aif-edit: "\e904";
$aif-folder: "\e905";
$aif-headphones: "\e906";
$aif-home-bold: "\e907";
$aif-home: "\e908";
$aif-magnifier: "\e909";
$aif-mail: "\e90a";
$aif-money: "\e90b";
$aif-phone-bold: "\e90c";
$aif-phone-ringing: "\e90d";
$aif-pin: "\e90e";
$aif-placeholder: "\e90f";
$aif-tax: "\e910";
$aif-team: "\e911";
$aif-windows: "\e912";

