/**
 * Common application mixes (BEM)
 */

/**
 * Block: text
 */
.text {
  // Colors
  &-accent {
    color: $accent;
  }
  &-primary {
    color: $primary;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-grey {
    color: $grey;
  }
  // Other
  &-nowrap {
    white-space: nowrap;
  }
}

/**
 * Mix: font-{}
 */
.font {
  &-primary {
    font-family: $app-font;
  }
  &-weight {
    &-medium {
      font-weight: 500;
    }
  }
  &-style {
    &-normal {
      font-style: normal;
    }
  }
}

/**
 * Mix: z-{}
 */
.z {
  &-0 {
    z-index: 0 !important;
  }
}

/**
 * Block: bg-{}
 */
.bg {
  &-placeholder {
    background-color: $placeholder;
  }
  &-grey-light {
    background-color: $grey-light;
  }
  &-white {
    background-color: $white;
  }
}

/**
 * Mix: img-{}
 */
.img {
  &-cover {
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
}

/**
 * Mix: list-{}
 */
.list-empty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * Mix: shadow-main
 */
.shadow {
  &-main {
    box-shadow: 0px 2px 10px rgba(1, 11, 48, 0.05);
  }
}