/**
 * Common application mixes (BEM)
 */

/**
 * Block: text
 */
.text {
  // Colors
  &-accent {
    color: $accent;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-grey {
    color: $grey;
  }
  // Other
  // &-nowrap {
  //   white-space: nowrap;
  // }
  // &-middle {
  //   vertical-align: middle;
  // }
}

/**
 * Mix: pos
 */
.pos {
  // &-static {
  //   position: static;
  // }
  // &-relative {
  //   position: relative;
  // }
  // &-absolute {
  //   position: absolute;
  // }
}
// @include media-breakpoint-up(sm) {
//   .pos-sm-static {
//     position: static;
//   }
// }

/**
 * Mix: z-{}
 */
.z {
  // &-n1 {
  //   z-index: -1 !important;
  // }
  // &-0 {
  //   z-index: 0 !important;
  // }
  // &-1 {
  //   z-index: 1 !important;
  // }
}

/**
 * Block: bg-{}
 */
.bg {
  // Colors
  // &-white {
  //   background-color: $white;
  // }
  // &-accent {
  //   background-color: $accent;
  // }
}

/**
 * Mix: mw-{}
 */
.mw {
  // &-300 {
  //   max-width: 300px;
  // }
}

/**
 * Mix: img-{}
 */
.img {
  &-cover {
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
  // &-contain {
  //   object-fit: contain;
  //   font-family: "object-fit: contain;";
  // }
  // &-full {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  // }
}

/**
 * Mix: list-{}
 */
.list-empty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}